<div class="loading" *ngIf="!books">
    Cargando...
</div>


<div class="container-fluid" *ngIf="books">
    <h1>{{page_title}}</h1>

    <nav class="navbar">
        <input class="form-control" type="text" name="name" 
        [(ngModel)]="name" (ngModelChange)="Search()" placeholder="Ingresa el nombre"/>
    </nav>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>Date</th>
                <th>AUTHOR</th>
                <th>CATEGORY</th>
                <th>STATUS</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books | paginate: {itemsPerPage:5, currentPage:p};">
                <td>{{book.id}}</td>
                <td>{{book.name}}</td>
                <td>{{book.publication_date}}</td>
                <td>{{book.author}}</td>
                <td>{{book.category.name}}</td>
                <td>{{book.borrow}}</td>
                <td>
                    <!--botones de accion-->
                    <div class="book-buttons mt-3">
                    
                        <a [routerLink]="['/editar-libro',book.id]" class="btn btn-warning mr-3">Editar</a>
                        
                        <a (click)="deleteBook(book.id)" class="btn btn-danger mr-3">Borrar</a>
                    </div>
                </td>

                <td>

                    <!--botones de accion modal-->
                    <div class="book-buttons mt-3">

                        <!-- Button to Open the Modal -->
                        <button type="button" class="btn btn-success" data-toggle="modal" [attr.data-target]="'#myModal'+book.id">
                        Status
                        </button>

                        <!-- The Modal -->
                        <div class="modal" id="myModal{{book.id}}">
                        <div class="modal-dialog">
                            <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Asignado a?</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                Prestado {{book.name}}
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                
                                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>

                            </div>

                            </div>
                        </div>
                        </div>

                    </div>

                </td>

            </tr>
        </tbody>
       
    </table>
    <pagination-controls (pageChange) = "p = $event"></pagination-controls>


    

</div>